In [1]:
#1.增加一个Series
#2.增加一个DataFrame
import pandas as pd 
df1 = pd.DataFrame([['小红', 27, 1.63],['小张', 30, 1.78]],
                  columns=['姓名','年龄','身高'],
                  index=['index0', 'index1'])
df1

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78

In [2]:
s1 = pd.Series({"姓名":"小王", "年龄":25, "身高":1.67})
s1.name = "index2" 
s1

姓名      小王
年龄      25
身高    1.67
Name: index2, dtype: object

In [3]:
df2 = df1.append(s1)
df2

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78
index2  小王  25  1.67

In [4]:
df1  #df1 保持不变

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78

In [5]:
df3 = pd.DataFrame({"姓名":["小王","小李"],
                    "年龄":[25,23], "身高":[1.67,1.75]})
df3

   姓名  年龄    身高
0  小王  25  1.67
1  小李  23  1.75

In [6]:
df4 = df1.append(df3)
df4

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78
0       小王  25  1.67
1       小李  23  1.75

In [7]:
df1

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78

In [8]:
df1['分数']=[80,90]   # 增加一列
df1

        姓名  年龄    身高  分数
index0  小红  27  1.63  80
index1  小张  30  1.78  90

In [9]:

df1.insert(2, '学号', ['100','101'])
df1

        姓名  年龄   学号    身高  分数
index0  小红  27  100  1.63  80
index1  小张  30  101  1.78  90