In [1]:
# 删除行
# 删除列

import pandas as pd
df1 = pd.DataFrame([['小红', 27, 1.63],['小张', 30, 1.78]],
                  columns=['姓名','年龄','身高'],
                  index=['index0', 'index1'])
df1

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78

In [7]:
df2=df1.drop('身高',axis=1)  # 横向 是轴1
df2

        姓名  年龄
index0  小红  27
index1  小张  30

In [8]:
df1

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78

In [10]:
df3=df1.drop('index0',axis=0)  #删除行
df3

        姓名  年龄    身高
index1  小张  30  1.78

In [11]:
df1

        姓名  年龄    身高
index0  小红  27  1.63
index1  小张  30  1.78